<!DOCTYPE html> 
<html dir="ltr" lang="en"> 
  <head>
    <title>Oxford Invariants - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/style/default/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/style/default/blueprint/screen.css" 
	  type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="/style/default/blueprint/print.css"
	  type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="/style/default/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/style/default/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="/style/default/style.css">
  </head>
  <body>
    <div id="content">
      <header>
	<nav>
	  <ul>
	    {% for link in navlinks %} 
	    <li>
	      <a href="{{ link.url }}"
		 {{% ifequal link.url path %}rel="tag"{% endifequal %}
		 {{attribs}}>{{ link.text }}</a>
	    {% endfor %}
	  </ul>
	</nav>
	<div class="alt">
	  The Oxford University Maths Society
	</div>
	<h1>
	  <a href="/"><img src="/images/invariants.png" alt="Invariants Logo" /></a>
	</h1>
      </header>

      <div class="container">
	<div id="main" class="prepend-1 span-16 colborder">
	  {% block content %}{% endblock %}
	</div>
	<div id="sidebar" class="span-6 last">
	  {% include "sidebar.html" %}
	</div>
      </div>

      <footer>
	Invariants 2010 
	<a rel="license" 
	   href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
	  <img alt="Creative Commons License"
	       style="border-width:0; vertical-align: middle;" 
	       src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
	</a>
      </footer>
    </div>
  </body>
</html>
