{% extends 'render.html' %}
{% block title %} Termcard - {{ tc.term }} {{ tc.year }}{% endblock %}

{% block content %}

<h1>Termcard for {{ tc.term }} {{ tc.year }}</h1>
<p>Unless otherwise stated, events take place on a <strong>Tuesday</strong> in the <strong>Maths Institute</strong> at around <strong>8pm</strong></p>
{% for entry in entries %}
<div class="termcarditem">
  <h3> {{entry.date }} - {{ entry.title }}</h3>
  <h4 class="right">{{ entry.speaker }} </h4>
  <blockquote class="abstract">
    {{entry.abstract }}
  </blockquote>
</div>
{% endfor %}
{% endblock %}
