{% extends '../render.html' %}

{% block title %}Admin{% endblock %}

{% block navlinks %}
<li><a href="/">Home</a></li>
<li class="title">Administration:</li>
<li><a href="/edit/blog/list">Blog Posts</li>
<li><a href="/edit/pages/list">Static Pages</li>
<li><a href="/edit/navlinks/list">Navigation Links</li>
<li><a href="/edit/pictures/list">Uploaded Pictures</li>
<li><a href="/edit/termcard/list">Termcards</li>
<li><a href="/edit/roles/list">Roles</li>
{% endblock %}

{% block content %}
<div id="header">
  <span id="title"><a href="/edit">Invariants Admin</a></span>
</div>
{% endblock %}


